@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --DarkBgColor: #2c1f14;
  --DarkTextColor: #F4EDE4;
  --SecDarkBgColor: #3F2F23;
  --SecDarkTextColor: #C89C7C;
  --HDarkTextColor: #C89C7C;
  --ContrastDarkTextColor: #FFFFFF;
}

body {
  --MainBgColor: var(--DarkBgColor);
  --MainTextColor: var(--DarkTextColor);
  --SecBgColor: var(--SecDarkBgColor);
  --SecTextColor: var(--SecDarkTextColor);
  --HTextColor: var(--HDarkTextColor);
  --ContrastTextColor: var(--ContrastDarkTextColor);
}